################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/textures/song_transition/difficulties/DIFF.psd
/textures/gameplay/track_info/difficulties/diff_track.psd
*.psd
